@use "../../base.scss" as base;

%error {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: -6px;
  padding: 5px;
  color: base.$clear;
  background-color: base.$danger;
  gap: 7px;
}

%message {
  font-size: 15px;
}

.alertBlock {
  @extend %error;
  @extend %message;
}

.alertNone {
  @extend %error;
  @extend %message;

  display: none;
}
