.tooltip {
  position: relative;
  display: inline-flex;
  border: none;
  transition: 5s ease-in;

  & .tooltipText {
    /* Position the tooltip text */
    position: absolute;
    left: 50%;
    bottom: 120%;
    z-index: 1;
    margin: 0;
    margin-left: -30px;
    border-radius: 3px;
    padding: 5px;
    width: auto;
    white-space: nowrap;
    text-align: center;
    color: #fff;
    background-color: #130646;

    /* Fade in tooltip */
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in;
  }

  &:hover {
    & .tooltipText {
      opacity: 1;
      visibility: visible;
    }
  }
}
