@use "../../base.scss" as base;

.wrapper {
  position: sticky;
  top: 0;
  z-index: 200;
  width: 100%;

  .imgContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px 0;
    width: 100%;
    background: base.$primary;
  }

  .steps {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    width: 100%;
    background: base.$clear;
    gap: 4vw;

    .desktop {
      display: none;
    }
  }

  @media (min-width: 769px) {
    .steps {
      .desktop {
        display: block;
        width: 90%;
        max-width: 1280px;
      }

      .mobile {
        display: none;
      }
    }
  }
}

.mobile {
  position: relative;
  width: 100%;

  .backButton {
    position: absolute;
    left: 24px;
    top: 50%;
    border: none;
    color: base.$primary;
    background-color: transparent;
    transform: translateY(-50%);
    cursor: pointer;
  }
}
