@use "../../base.scss" as base;

.wrapper {
  padding: 28px 24px;
  width: 100%;
  max-width: 1080px;

  .description {
    display: none;
  }

  .container {
    display: flex;
    flex-basis: 50%;
    flex-direction: column;
    gap: 22px;

    label {
      font-size: 14px;
      line-height: 21px;
      color: base.$dark-gray;
    }

    p {
      margin: 0;
      height: 18px;
      font-size: 12px;
      line-height: 18px;
      color: base.$danger;
    }
  }
}

@media (min-width: 769px) {
  .wrapper {
    @include base.wrapper-desktop;

    gap: 50px;

    .description {
      display: block;
      align-self: center;
      justify-self: center;
      max-width: 384px;
      text-align: left;
      color: base.$clear;

      p {
        margin: 0;
        font-size: 14px;
        line-height: 22px;
      }
    }

    .container {
      display: block;
      gap: 18px;

      label {
        color: base.$clear !important;
      }

      & > div > label {
        font-size: 28px;
        line-height: 42px;
      }
    }
  }
}
