@use "../../base.scss" as base;

.wrapper {
  display: flex;
  flex-direction: column;
  margin: 30px 0;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 28px 40px -10px rgb(53 24 168 / 10%);
  background: base.$clear-opacity;
}

.term {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px 10px;

  label {
    display: block;
    border-radius: 10px;
    padding: 10px;
    font-family: Outfit, sans-serif;
    font-size: 16px;
    text-align: center;
    color: base.$clear;
    background: base.$primary;
    cursor: pointer;
    user-select: none;
  }

  label:hover {
    color: base.$info;
    background-color: base.$secondary;
  }

  input[type="radio"] {
    display: none;

    &:checked + label {
      background-color: base.$secondary;
    }
  }

  .disable {
    background: base.$dark-gray;
    opacity: 0.7;
    cursor: default;
    user-select: none;

    &:hover {
      color: base.$clear;
      background: base.$dark-gray;
    }
  }
}
