@use "../../base.scss" as base;

.wrapper {
  margin: 0 25px;

  h1 {
    margin: 5px 0;
    font-weight: 600;
    font-size: 14px;
    color: base.$dark-gray;
  }

  .data {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 0 20px;
    box-shadow: 0 28px 40px -10px rgb(53 24 168 / 10%);
    background: base.$clear-opacity;

    .item {
      display: grid;
      grid-template-columns: 30% auto;
      border-bottom: 1px solid base.$gray;
      padding: 10px 0;

      & p {
        margin: 0;
      }

      & :first-child {
        color: base.$dark-gray;
        opacity: 0.5;
      }

      & :last-child {
        text-align: right;
        color: base.$primary;
      }
    }

    & :last-child {
      border-bottom: none;
    }
  }

  .calculator {
    display: grid;
    margin: 30px 0;
    border: 0.4px solid base.$gray;
    border-radius: 15px;
    padding: 15px 35px;
  }

  .payment {
    .paymentAmount {
      display: flex;
      align-items: center;
      justify-content: center;

      h2 {
        margin: 0;
        font-family: Outfit, sans-serif;
        font-weight: 400;
        font-size: 40px;
        color: base.$dark-gray;
        user-select: none;
      }

      span {
        margin: 0 30px;
      }

      .period {
        border-radius: 5px;
        padding: 5px 10px;
        font-weight: 600;
        font-size: 16px;
        color: base.$info;
        background: base.$primary;
      }
    }
  }
}

@media (min-width: 768px) {
  .wrapper {
    @include base.wrapper-desktop;

    grid-template-columns: 60% 40%;
    padding: 0;

    .dataSection {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 20%;

      h1 {
        font-size: 40px;
        color: base.$clear;
      }

      .data {
        background: transparent;

        .item {
          & :first-child {
            color: base.$clear;
          }

          & :last-child {
            color: base.$clear;
          }
        }
      }
    }

    .calculator {
      margin: 0;
      border: none;
      border-radius: 0 15px 15px 0;
      padding: 10%;
      height: 100%;
      box-shadow: 0 17px 23px -7px rgb(70 111 255 / 10%);
      background: base.$clear;
    }
  }
}
