@use "../../base.scss" as base;

%error {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: base.$danger;
}

.messageBlock {
  @extend %error;
}

.messageNone {
  @extend %error;

  display: none;
}
